.tribe-bar-date-filter,
.tribe-bar-search-filter,
.tribe-bar-event-type-filter {
	width: 20%;
}
.tribe-bar-event-type-filter {
	float: left;
	padding: 15px;
}
.tribe-bar-submit {
	margin-left: 10px;
	float: right;
}
#tribe-events-bar {
	margin-bottom: 5px;
}
.tribe-events-category-trainingevents a {
    color: #d00;
}

.tribe-events-category-generalevents a {
    color: #333;
}

.tribe-events-category-providerevents a {
    color: #00c;
}
#tribe-bar-form {
    &,
    .tribe-bar-views-inner {
        background: transparent;
    }
    #tribe-bar-views + .tribe-bar-filters,
    #tribe-bar-views {
        right: auto;
        left: auto;
    }
    .tribe-bar-views-list .tribe-bar-views-option a {
        background: #ebebeb;
        border: 1px solid #e0e0e0;
    }
}