.tribe-bar-date-filter,
.tribe-bar-search-filter,
.tribe-bar-event-type-filter{
	width: 20%;
}
.tribe-bar-event-type-filter{
	float: left;
	padding: 15px;
}
.tribe-bar-submit{
	margin-left: 10px;
	float: right;
}