.carousel{
	display: none;
	height: 15em;
	width: 100%;
	overflow: hidden;
	@media screen and (min-width: 40em){
		display: block;
	}
	.horses{
		margin: 0;
		padding: 0;
		.horse{
			position: absolute;
			top: 0;
			left: 0;
			height: 15em;
			width: $papa-bear-site-width;
			margin: 0;
			padding: 1em;
			opacity: 0;
			list-style: none;
			background-color: $sage;
			background-size: cover;
			background-position: 50% 50%;
			transition: opacity 1s linear;
			&.active{
				opacity: 1;
			}
		}
	}
	.horse-content{
		position: absolute;
		left: 1em;
		right: 1em;
		color: transparent;
		font-size: 2em;
		// this is in the .js class because it's all tied to the carousel working
		// even though this would sort of work without javascript
		.js &{
			transition: all 12s linear;
			&.on{
				transform: scale(1.5,1.5);
			}
			&.location-top-left{
				transform-origin: 0 0;
				&.on{
					transform: translate3d(30px,25px,0);
				}
			}
			&.location-top-center,
			&.location-top-right{
				transform-origin: 100% 0;
				&.on{
					transform: translate3d(5px,35px,0) scale(1.5, 1.5);
				}
			}
			&.location-middle-left{
				transform-origin: 0 0;
				&.on{
					transform: translate3d(50px,10px,0);
				}
			}
			&.location-middle-center{
				transform-origin: 50% 50%;
				&.on{
					transform: scale( 1.7, 2 );
				}
			}
			&.location-middle-right{
				transform-origin: 100% 50%;
				&.on{
					transform: translate3d(-30px,5px,0) scale( 2, 1.5 );
				}
			}
			&.location-bottom-left{
				transform-origin: 0 100%;
				&.on{
					transform: translate3d(30px,0,0);
				}
			}
			&.location-bottom-center{
				transform-origin: 100% 50%;
				&.on{
					transform: translate3d(-20px,30px,0) scale( 2, 2 );
				}
			}
			&.location-bottom-right{
				transform-origin: 100% 50%;
				&.on{
					transform: translate3d(-30px,5px,0) scale( 2, 1.5 );
				}
			}
		}
		.js & span[class*=char]{
			color: white;
			opacity: .1;
			display: inline-block;
			transform: scale(.2,.2);
			transition: transform .3s cubic-bezier(.02,1.5,.9,1.31);
			text-shadow: 0 0 5px black;
			&.on{
				transform: scale(1,1);
				opacity: 1;
			}
		}
		&.location-top-left{
			top: 1em;
			text-align: left;
		}
		&.location-top-center{
			top: 1em;
			text-align: center;
		}
		&.location-top-right{
			top: 1em;
			text-align: right;
		}
		&.location-middle-left{
			top: 1em;
			text-align: left;
		}
		&.location-middle-center{
			top: 1em;
			text-align: center;
		}
		&.location-middle-right{
			top: 1em;
			text-align: right;
		}
		&.location-bottom-left{
			bottom: 1em;
			text-align: left;
		}
		&.location-bottom-center{
			bottom: 1em;
			text-align: center;
		}
		&.location-bottom-right{
			bottom: 1em;
			text-align: right;
		}
	}
}