.features{
	padding: 1em 0;
	@media screen and (min-width: 50em) {
		height: 27em;
		padding: 3em 0;
	}
	.feature{
		position: relative;
		height: 18em;
		width: ( $papa-bear-site-width / 3.01 ) - 6em;
		border: 1px solid black;
		box-shadow: .25em .25em 1em #666666;
		margin: 1em auto;
		@media screen and (min-width: 50em){
			float: left;
			margin: 1em 3em;
		}
		h1{
			margin: 0;
			line-height: 2em;
			text-align: center;
			background: $gold;
			font-size: 1.2em;
		}
		.feature-inner{
			height: 14em;
			margin: 1em;
			h2{
				padding-bottom: .5em;
				font-size: 1.2em;
			}
			img{
				float: left;
				margin: 0 1em 1em 0;
				height: 8em;
				width: 8em;
			}
		}
		.actions{
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			text-align: right;
			a{
				@include button( $sage );
				margin: 1em;
			}
		}
	}
}