.site-header{
	position: relative;
	height: 10em;
	overflow: hidden;
	h1{
		margin: .5em;
	}
	h2{
		position: absolute;
		bottom: .5em;
		left: 19.5em;
		margin: 0;
		padding: 0;
	}
	.site-meta{
		position: absolute;
		top: 1em;
		right: 1em;
	}
}
