.site-header{
	position: relative;
	background: white;
	overflow: hidden;
	@media screen and (min-width: 40em){
		height: 11em;
	}
	h1{
		font-family: $title-font;
		font-weight: 700;
		margin: 0;
		@media screen and (min-width: 40em){
			margin: .5em;
		}
		img {
			max-width: 100%;
		}
	}
	h2{
		width: 342px;
		margin: 0;
		padding-top: .1em;
		border-top: 1px solid #999;
		font-family: 'EB Garamond';
		text-transform: uppercase;
		letter-spacing: .1em;
		font-weight: lighter;
		color: #999;
		font-size: 15px;
		text-align: center;
		@media screen and (min-width: 40em){
			position: absolute;
			bottom: .5em;
			left: 1em;
		}
	}
	.vcard{
		@media screen and (min-width: 40em){
			position: absolute;
			top: 1em;
			right: 1em;
		}
		.addr-line{
			*{
				display: inline-block;
				font-style: normal;
			}
		}
		.tel,
		.fax,
		.email{
			font-style: normal;
		}
	}
	.connect-options{
		position: absolute;
		bottom: 1em;
		right: 1em;
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
			text-align: right;
			padding: 0;
			margin: 0;
			a{
				text-decoration: none;
				background: linear-gradient(to bottom, rgba(0,0,0,0) 95%, rgba(0,0,0,0.6) 95%);
				background-position: 0 0;
				color: black;
				&:hover{
					background: none;
				}
			}
			&.facebook{
				background: transparent url( "assets/images/icon16-facebook.png" ) 20px 3px no-repeat;
			}
			&.constant-contact{
				background: transparent url( "assets/images/icon16-constant-contact.png" ) 20px 3px no-repeat;
			}
			&.email{
				background: transparent url( "assets/images/icon16-email.png" ) 20px 3px no-repeat;
			}
			&.store{
				background: transparent url( "assets/images/icon16-store.png" ) 20px 3px no-repeat;
			}
			&.cart{
				background: transparent url( "assets/images/icon16-cart.png" ) 20px 3px no-repeat;
			}
			&.my-account{
				background: transparent url( "assets/images/icon16-my-account.png" ) 20px 3px no-repeat;
			}
			&:before{
				content: '|';
				display: inline-block;
				padding: 0 calc( 20px + .5em ) 0 .5em;
			}
			&:first-child{
				padding: 0 0 0 8px;
				&:before{
					content: '';
				}
			}
		}
	}
}
