*{
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', arial;
	font-size: 80%;
	background: $body-bg;
	padding-bottom: 3em;
}
.site-wrapper{
	width: $papa-bear-site-width;
	margin: 0 auto;
	border: 1px solid #666;
}
.main{
	background: #eee;
	min-height: 400px;
}

.site-footer{
	@include banner-with-wrap( $sage, $nav-wrap-triangle-color );
}