.nav-main{
	@include banner-with-wrap( $sage, $nav-wrap-triangle-color );
	a{
		display: inline-block;
		padding: .25em 2.5em;
		color: $nav_color;
		font-family: $nav-font;
		font-weight: 300;
		font-size: 1.7em;
		text-decoration: none;
		@include transition( .2s all linear );
		&:hover{
			background-color: $nav-main-hover-bg;
			color: $nav-main-hover-color;
		}
		&.active{
			font-weight: 700;
			border: 1px solid $nav-main-hover-bg;
			background-color: mix(white, $nav-main-hover-bg, 70%);
			&:hover{
				background-color: $nav-main-hover-bg;
			}
		}
	}
}

.nav-breadcrumbs{
	margin-bottom: 1em;
	opacity: .5;
	a{
		color: $rust;
		text-decoration: none;
		background: linear-gradient(to bottom, transparent 0%, transparent 95%, $rust 97%);
		background-position: 0 0;
		&:hover{
			background: none;
		}
	}
	*{
		display: inline-block;
	}
}