.provider-select-toggle {
    position: relative;
    display: block;
    padding:  5px 10px 5px 40px;
    background: #666;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
	svg {
	    position: absolute;
	    left: 8px;
	    top: 9px;
	    fill: $gold;
	}
	@media screen and (min-width: 50em) {
		display: none;
	}
}
.provider-select-wrapper{
	position: absolute;
	right: 100%;
	width: 100%;
	transition: all 1s linear;
	padding: 0 1em;
	background: #bbb;
	z-index: 999;
	&.in {
		right: 0;
	}
	@media screen and (min-width: 50em) {
		position: static;
		float: left;
		width: $provider-select-width;
		height: ( $provider-select-leadership-height + $provider-select-providers-height + 6em );
		margin-right: 1em;
		background: transparent;
	}
	p{
		text-align: center;
		font-weight: 600;
		height: 1em;
	}
	.provider-select{
		border: 1px solid black;
		overflow-y: scroll;
		background: white;
		&.leadership{
			height: $provider-select-leadership-height;
		}
		&.providers{
			height: $provider-select-providers-height;
		}
		a{
			position: relative;
			display: block;
			padding: .25em .5em;
			text-decoration: none;
			font-weight: 600;
			color: $rust;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			&:hover:after{
				content: '';
				position: absolute;
				top: .5em;
				right: .25em;
				@include triangle( 1em, $rust, right );
			}
			&.active{
				background: $rust;
				color: white;
				pointer-events: none;
				&:after{
					content: '';
					position: absolute;
					top: .5em;
					right: .25em;
					@include triangle( 1em, white, right );
				}
			}
		}
	}
}
.provider-profile{
	position: relative;
	max-width: ( $papa-bear-site-width - $provider-select-width - 4em );
	width: calc( 100% - 24em );
	padding: 1em;
	border: 1px solid black;
	background: white;
	@media screen and (min-width: 50em){
		float: left;
		height: ( $provider-select-leadership-height + $provider-select-providers-height + 6em );
	}
	.provider-thumb{
		position: absolute;
		top: 1em;
		left: 1em;
	}
	.provider-details{
		padding-left: calc( 1em + 180px );
		min-height: 180px;
		h3{
			margin: 0;
			font-size: 2em;
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li{
			margin: 1em 0;
			strong{
				width: 12em;
			}
			strong,
			span{
				vertical-align: top;
				display: inline-block;
			}
		}
	}
	.provider-website{
		position: absolute;
		top: 1em;
		right: 1em;
		@include button( $sage );
	}
}