.provider-select-wrapper,
.provider-profile{
	float: left;
	height: 30em;
}
.provider-select-wrapper{
	width: 17em;
	margin-right: 1em;
	p{
		text-align: center;
		font-weight: 600;
		height: 1em;
	}
	.provider-select{
		border: 1px solid $sage;
		overflow-y: scroll;
		height: 27em;
		a{
			position: relative;
			display: block;
			padding: 1em;
			text-decoration: none;
			font-weight: 600;
			color: $rust;
			&:hover:after{
				content: '';
				position: absolute;
				top: 1.2em;
				right: 1em;
				@include triangle( 1em, $rust, right );
			}
			&.active{
				background: $rust;
				color: white;
				pointer-events: none;
				&:after{
					content: '';
					position: absolute;
					top: 1.2em;
					right: 1em;
					@include triangle( 1em, white, right );
				}
			}
		}
	}
}
.provider-profile{
	position: relative;
	width: ( $papa-bear-site-width - 21em );
	padding: 1em;
	border: 1px solid $sage;
	.provider-thumb{
		position: absolute;
		top: 1em;
		left: 1em;
	}
	.provider-details{
		padding-left: calc( 1em + 180px );
		min-height: 180px;
		h3{
			margin: 0;
			font-size: 2em;
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
		}
		li{
			margin: 1em 0;
			strong{
				width: 12em;
			}
			strong,
			span{
				vertical-align: top;
				display: inline-block;
			}
		}
	}
	.provider-website{
		position: absolute;
		top: 1em;
		right: 1em;
		@include button( $sage );
	}
}