.training-summary-wrapper{
	@include clearfix();
	article{
		height: 15em;
		margin: 1em;
		background-color: #eeeeee;
		box-shadow: 2px 2px 8px #888;
		position: relative;
		overflow: hidden;
		@media screen and (min-width: 40em) {
			height: 25em;
			float: left;
		}
		h3{
			margin: 0;
			padding: 0;
		}
		p{
			margin: 0;
			padding: 1em;
		}
		a{
			display: block;
			color: white;
			@include transition( .2s all linear );
		}
	}
	&.primary{
		article{
			@media screen and (min-width: 40em) {
				width: calc( 50% - 2em );
			}
			h3 a{
				padding: .5em;
				background-color: $rust;
				font-family: $body-font;
				font-size: 1.5em;
				text-decoration: none;
				font-weight: 300;
				&:hover{
					background-color: mix(black, $rust, 30% );
				}
			}
		}
	}
	&.secondary{
		article{
			@media screen and (min-width: 40em) {
				width: calc( 33% - 2em );
			}
			h3 a{
				font-size: 1.5em;
				font-weight: 300;
				padding: .5em;
				background-color: mix(black, $gold, 10% );
				text-decoration: none;
				&:hover{
					background-color: mix(black, $gold, 30% );
				}
			}
		}
	}
	.read-more {
	    position: absolute;
	    bottom: 0;
	    left:  0;
	    right: 0;
	    background: orange;
	}
}