.training-summary-wrapper{
	@include clearfix();
	article{
		float: left;
		margin: 1em;
		background-color: #eeeeee;
		box-shadow: 3px 3px 5px #888;
		h3{
			margin: 0;
			padding: 0;
		}
		p{
			margin: 0;
			padding: 1em;
		}
		a{
			display: block;
			color: white;
			@include transition( .2s all linear );
		}
	}
	&.primary{
		article{
			width: calc( 50% - 2em );
			h3 a{
				padding: .5em;
				background-color: $rust;
				font-family: $body-font;
				font-size: 1.5em;
				text-decoration: none;
				font-weight: 300;
				&:hover{
					background-color: mix(black, $rust, 30% );
				}
			}
		}
	}
	&.secondary{
		article{
			width: calc( 33% - 2em );
			h3 a{
				font-size: 1.5em;
				font-weight: 600;
				padding: .5em;
				background-color: mix(black, $gold, 10% );
				padding: .6667em;
				text-decoration: none;
				&:hover{
					background-color: mix(black, $gold, 30% );
				}
			}
		}
	}
}