.tabs-wrapper {
	position: relative;
	.nav-tabs {
		position: absolute;
		left: 1px;
		top: 1px;
		bottom: 1px;
		width: 150px;
		background: #eee;
		a {
			display: block;
			background: #ddd;
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 2em;
			padding: 4px;
			color: $rust;
			border-bottom: 1px solid #888;
			&.active {
				background: #fff;
				color: black;
				font-weight: bold;
			}
		}
	}
	@media screen and (min-width: 50em) {
		.nav-tabs {
			position: static;
			width: auto;
			text-align: right;
			padding-right: 4em;
			a {
				position: relative;
				display: inline-block;
				height: 0;
				margin: 0 .5em;
				padding: 0 2em;				background: transparent;
				border-bottom: $tab-height solid $tab-inactive-bg;
				border-left: 1em solid transparent;
				border-right: 1em solid transparent;
				line-height: $tab-height;
				font-family: $nav-font;
				text-transform: uppercase;
				color: $tab-inactive-color;
				font-weight: 400;
				text-decoration: none;
				overflow: visible;
				&.active {
					background: transparent;
					font-weight: 700;
					color: $tab-active-color;
					border-bottom-color: $tab-active-bg;
					pointer-events: none;
				}
				&:hover {
					border-bottom-color: mix(white, $tab-inactive-bg, 30% );
				}
			}
		}
		.tabs-content {
			padding: .5em 1em !important;
		}
	}
	.tabs-content {
		min-height: 20em;
		border: 1px solid black;
		background: white;
		padding: .5em 1em .5em 160px;
		.tab-content{
			display: none;
			&.current {
				display: block;
			}
		}
	}

}