// COLORS
$sage: #6bae63;
$rust: #d7410E;
$gold: #ffd700;

// FONTS
// $title-font: 'Josefin Sans';
$title-font: 'Open Sans';
$body-font: 'Open Sans';
$nav-font: 'Open Sans';

// BREAKPOINTS
$baby-bear: 30em;
$mama-bear: 60em;
$papa-bear: 90em;

// LAYOUT
$papa-bear-site-width: $papa-bear - 4em;
$body-bg: $rust;

// NAV
$papa-bear-nav-main-width: $papa-bear-site-width + 2em;
$nav_color: black;
$nav-main-bg: $sage;
$nav-main-hover-bg: tint( $sage, 50% );
$nav-main-hover-color: black;
$nav-wrap-triangle-color: tint( $nav-main-bg, 40% );

// TABS
$tab-height: 2em;
$tab-active-bg: white;
$tab-active-color: black;
$tab-inactive-bg: $sage;